<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Power Show Page</title>
  </head>
  <body>
    <h1>Power Name: <%= @power.name %></h1>
    <h1>Description: <%= @power.description %></h1>
  </body>
</html>
