<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create New Super Heroine</title>
  </head>
  <body>
    <h1>Create New Super Heroine</h1>
    <%= render "heroine_form" %>
  </body>
</html>
