<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Heroine Show Page</title>
  </head>
  <body>
    <h3>Real Name:</h3>
     <%= @heroine.name %>
    <h3>Super Name:</h3>
    <%= @heroine.super_name %>
    <h3>Power:</h3>
    <%= link_to @heroine.power.name, power_path(@heroine.power.id) %><br>

    <br><br><%= link_to "Heroine Index Page", heroines_path %>
  </body>
</html>
